
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    <li>User Management: <@Html.ActionLink("Klik hier", "Index", "Users")</li>
    <li>Article Management: <@Html.ActionLink("Klik hier", "Index", "Articles")</li>
    <li>Order Overzicht: <@Html.ActionLink("Klik hier", "Index", "Orders")</li>
    <li>Totaal Overzicht: <@Html.ActionLink("Klik hier", "GetProductResults", "Orders")</li>
</ul>

